<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <form action="/index" method="POST">
    
        First Name: <input type="text" name="fname"><br>
        Last Name: <input type="text" name="lname"><br>
        Short Bio: <textarea type="text" name="bio"></textarea><br>
      
        <input type="file" name="myUpload">
        <input type="submit" value="submit"><br>
</form>

</body>
</html>